<!DOCTYPE html>
<html>

<head>
    <title>Form Example</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="form-container">
        <h1>Reset Password Page</h1>
        <form method="post" action="">


            <label for="password">New Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>